body {
  font-family: 'Roboto', sans-serif; 
  margin: 0;
  padding: 0;
  background-color: #ffeef8; /* Light pink background */
}

h1 {
  font-size: 2.5rem; 
  text-align: center;
  color: #4a250e; /* Deep pink */
}

h2 {
  font-size: 2rem; 
  color: #4a250e; /* Medium pink */
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5; 
  color: #4a2d12; /* Darker pink */

}

section {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: #551c1479; /* Soft pink */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%; 
  height: auto; 
  border-radius: 8px;
  transition: transform 0.3s ease; 
}

img:hover {
  transform: scale(1.05); 
}

a {
  color: #6d23114a; /* Deep pink */
  text-decoration: none; 
  font-size: 1.2rem; 
  font-weight: 700; 
  transition: color 0.3s ease;
}

a:hover {
  color: #3a221346; /* Medium pink */
}

.carousel {
  overflow: hidden; /* Hide overflow to show only one image at a time */
  position: relative;
  width: 100%; /* Adjust as needed */
}

.carousel-inner {
  display: flex; /* Arrange images in a row */
  transition: transform 0.5s ease; /* Smooth transition */
}

.carousel-item {
  min-width: 100%; /* Ensure each item takes full width */
  transition: opacity 0.5s ease; /* Fade in/out effect */
  opacity: 0; /* Start hidden */
}

.carousel-item.active {
  opacity: 1; /* Show active item */
}

.carousel-image {
  width: 100%; /* Ensure images take full width */
  height: auto; /* Maintain aspect ratio */
}
