/* App.css */

body {
  font-family: 'Roboto', sans-serif; /* Utilise la police Roboto */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

h1 {
  font-size: 2.5rem; /* Titre principal */
  text-align: center;
}

h2 {
  font-size: 2rem; /* Titres des sections */
  color: #6F4C3E;
  margin-top: 20px;
}

p {
  font-size: 1.2rem; /* Taille du texte de description */
  line-height: 1.5; /* Espacement entre les lignes */
  color: #333; /* Couleur du texte */
}

section {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
img {
  max-width: 100%; /* Ensures the image does not exceed the width of its container */
  height: auto; /* Maintains the aspect ratio */
  border-radius: 8px; /* Keeps your previous styling */
  transition: transform 0.3s ease; /* Animation on hover */
}

img:hover {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
}
